h1{
    text-align: center;
    margin-top: 22%;
}

body{
        background-color: rgb(20, 21, 21);
}

.container{
    font-size: 40px;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -1500px 0;
    animation: back 5s linear infinite alternate;
}

@keyframes back{
    100%{
        background-position: 0 0;
    }
}